
nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

nav a.active {
    color: tomato;
    font-weight: bold;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
    border: 2px solid transparent;
    cursor: pointer;
    height: 100%;
}

.menu-item:hover {
    border: 2px solid tomato;
}

.menu-item img {
    width: 100%;
    border-radius: 35px;
    margin-bottom: 15px;
}

.menu-item .price {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.menu-item .name {
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px 0;
    flex-grow: 1;
}

.menu-item .weight {
    color: #666;
    font-size: 0.9em;
    margin: 10px 0;
}

.menu-item button {
    background-color: #f1eee9;
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.menu-item:hover button {
    background-color: tomato;
    color: white;
}

@media (max-width: 800px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    
    nav {
        justify-content: space-around;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
    
    .menu-item {
        padding: 20px 30px;
    }
    
    header h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    nav a {
        font-size: 1.1rem;
        display: block;
        width: 200px;
        text-align: center;
    }
    
    section h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

.menu-item img {
    width: 100%;
    height: 180px; 
    border-radius: 35px;
    margin-bottom: 15px;
    object-fit: cover; 
}